/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  background-color: lightgray;
}

/* ------------------------------------- */

.navi{
  padding: 25px;
}
.images{
  width: 80px;
}

button{
  height: 50px;
}

.slide1s{
  padding-top: 150px;
  font-weight: bolder;
}

form{
  padding-top: 50px;
  width: 1000px;
  height: 90px;
}

.input2{
  height: 90px;
}

.btn2{
  height: 90px;
  width: 150px;
  background-color: lightcoral;
  color: whitesmoke;
  font-size: 30px;
}

.pad1{
  padding-left: 250px;
}
